.swiper {
  width: 100%;
  height: 100%;
} 
.button-container {

  margin-bottom: 20px;
}

.parent-button1 {
  text-align: start;
  margin-top:  0px;
  width: 555px;
  display: inline-block;
  padding: 15px 15px;
  font-size: medium;
  cursor: pointer;
  background-color: #2d96cd;
  color: #fff ;
  border: none;
  border-radius: 7px;
  margin-right: 10px;
}
.parent-button2 {
  text-align: start;
  margin-top:-9px;
  width: 555px;
  display: inline-block;
  padding: 15px 15px;
  font-size: medium;
  cursor: pointer;
  background-color:#2d96cd;
  color:#fff;
  border: none;
  border-radius: 7px;
  margin-right: 10px;
}

.parent-button1:hover {
  background-color:#2d95cddd;
}
.parent-button2:hover {
  background-color:#2d95cddd;
}

.child-buttons {
  display: none;
  margin-top: 10px;
  padding-left: 20px;
}

.child-buttons button {
  width: 520px;
  display: block;
  margin: 5px 0;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color:#013e77ce;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.Engine-type{
  margin: 8px;
  background: #013e77ce;
  width: 96%;
  border-radius: 7px;
  margin-left: 10px;
}

.child-buttons,.Engine-type th,
.child-buttons,.Engine-type td{
  border-bottom: 1px solid #2d95cd75;
}

.child-buttons,.Engine-type th{
  padding: 0px 10px;
  text-align:start;
  color: #fff;
   
}

.child-buttons,.Engine-type td{
  font-weight:300;
  padding: 0px 10px;
  color: #fff;
  text-align: end;
}

.typeoffuel{
  margin: 8px;
  background: #013e77ce;
  width: 96%;
  border-radius: 7px;
  margin-left: 10px;
}

.child-buttons, .typeoffuel th{
  padding: 0px 10px;
  text-align:start;
  color: #fff;
   
}

.child-buttons, .typeoffuel td{
  font-weight:300;
  padding: 0px 10px;
  color: #fff;
  text-align: end;
}
.child-buttons, .typeoffuel th,
.child-buttons, .typeoffuel td{
  border-bottom: 1px solid #2d95cd75;
}


.page2::-webkit-scrollbar {
  width: 12px; 
}

.page2::-webkit-scrollbar-track {
  background: #f4f4f4; 
}

.page2::-webkit-scrollbar-thumb {
  background-color: #001c35ea;
  border-radius: 6px;
  border: 3px solid #f4f4f4; }

.page2::-webkit-scrollbar-thumb:hover {
  background-color: #142733; 
  cursor:grab;
}
.page2::-webkit-scrollbar-thumb:active {
  background-color: #001c35ce; 
  cursor:grabbing;
}

.Price-con{
 margin-top: -15px;
   font-weight: bolder;
   color: #eb0a1e;
}
.Price-con p{
 
  color:#fff;
}